
.text-blue{
    color: lightskyblue;
}
.about-container{
    max-width: 1180px;
    overflow: hidden;
    margin-inline: auto;
    padding-inline: 20px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items:center;
    gap: 20px;
}
.about-left{
    width: 40%;
}
.about-left h3{
    font-size: 32px;
}
.about-left p {
    font-size: 18px;
    padding-top: 10px;
}
.about-left button{
    background-color: lightskyblue;
    border: 0;
    border-radius: 7px;
    padding-inline: 24px;
    padding-block: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 11px;
}
.about-right{
    width: 40%;
}
.about-right img {
    width: 500px;
    height: 455px;
}

@media screen and (max-width:1060px) {
    .about-right img{
        width: 400px;
        height: 410px;
    }
    .about-left p{
        font-size: 16px;
    
    }
}
@media screen and (max-width:850px) {
    .about-container{
        flex-direction: column-reverse;
        padding-inline: 0;
    }
    .about-left{
        width: 80%;
        text-align: center;
        margin-top: 30px;
    }
    .about-left h3{
        font-size: 28px;
    }
    .about-left p{
     font-size: 15px;
    }
    .about-right{
        width: 80%;
        text-align: center;
        margin-top: 30px;
    }
    .about-right img {
        width: 300px;
    }
}